/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040d1d;
    --foreground: #ededed;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0c101a; /* Dark background */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #414141; /* Your gradient colors */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4e4e4e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-funnel-sans), var(--font-poppins-sans),
    var(--font-geist-sans), Helvetica, sans-serif;
  overflow: hidden;
}
